{
  "openapi": "3.0.3",
  "info": {
    "description": "Minimal spec for using a RAG-based deployed prompt in watsonx.ai. Can be governed using watsonx.governance.",
    "title": "Simplified watsonx.ai generation API",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://us-south.ml.cloud.ibm.com",
      "description": "watsonx.ai v1",
      "url": "https://us-south.ml.cloud.ibm.com/ml/v1/deployments/{serving_name}",
      "description": "RAGNova Travel Genie QA Prompt Deployment",
      "variables": {
        "serving_name": {
          "default": "",
          "description": "Serving name of the prompt deployment"
        }
      }
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "x-apikey": {
            "tokenUrl": "https://iam.cloud.ibm.com/identity/token",
            "grantType": "urn:ibm:params:oauth:grant-type:apikey",
            "secretKeys": ["apikey"],
            "paramKeys": [],
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/text/generation": {
      "post": {
        "description": "Generation",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Release date of the version of the API you want to use. Specify dates in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "prompt_variables": {
                        "type": "object",
                        "properties": {
                          "hotel": {
                            "type": "string",
                            "description": "Hotel"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Reason"
                          },
                          "manager": {
                            "type": "string",
                            "description": "Manager"
                          },
                          "employee": {
                            "type": "string",
                            "description": "Employee"
                          },
                          "end_date": {
                            "type": "string",
                            "description": "End Date"
                          },
                          "start_date": {
                            "type": "string",
                            "description": "Start Date"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model_id": {
                      "description": "The ID of the model to be used for this request",
                      "type": "string"
                    },
                    "created_at": {
                      "description": "The date and time of the response",
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "generated_text": {
                            "description": "The generated text",
                            "type": "string"
                          },
                          "generated_token_count": {
                            "description": "The number of tokens in the output",
                            "type": "integer"
                          },
                          "input_token_count": {
                            "description": "The number of tokens in the input",
                            "type": "integer"
                          },
                          "stop_reason": {
                            "description": "The reason for stopping the generation.  Can be NOT_FINISHED - Possibly more tokens to be streamed, MAX_TOKENS - Maximum requested tokens reached, EOS_TOKEN - End of sequence token encountered, CANCELLED - Request canceled by the client, TIME_LIMIT - Time limit reached, STOP_SEQUENCE - Stop sequence encountered, TOKEN_LIMIT - Token limit reached, ERROR - Error encountered",
                            "type": "string"
                          }
                        }
                      },
                      "description": "Outputs of the generation"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  }
}
